* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(95, 95, 95);
}

.Navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  justify-content: left;
  align-items: center;
}

.Navbar div,
.Navbar button {
  height: 3rem;
}

.MainMenuButton {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  background-color: black;
}

.MenuLine1,
.MenuLine2,
.MenuLine3 {
  display: flex;
  background-color: white;
  width: 100%;
  height: fit-content;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.CashLabel {
  display: flex;
  color: greenyellow;
  justify-content: center;
  width: 4rem;
  height: 40% !important;
}
.CashReserve {
  display: flex;
  border-radius: 20%;
  height: 45% !important;
  width: 4rem;
  opacity: 0.8;
  background-color: transparent;
  border: 0.1rem solid;
  overflow: hidden;
}
.FillPercentage {
  display: flex;
  opacity: 0.9;
  background-color: yellow;
  width: 30%;
}
.Tooltips {
  display: flex;
}
.CashReserveTooltip {
  display: flex;
  color: greenyellow;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  position: absolute;
  width: 5rem;
  height: fit-content;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  justify-content: center;
}